/*
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with this program. If not, see http://www.gnu.org/licenses/.
*/

body {
	overflow: hidden;
}

@media only screen and (min-width: 600px) {
	.brand-logo {
		padding-left: 10px !important;
	}

	#screen {
		left: 20px !important; 
		top: 84px !important;
		height: 192px !important;
		width: 192px !important;
	}
	#editor {
		top: 84px !important;
		left: 232px !important;
		right: 20px !important;
		bottom: 20px;
		border-bottom: 0 !important;
	}
	#code {
		margin: 0 !important;
	}
	#compileButton {
		position: absolute;
		left: -212px; 
		top: 210px;
		width: 192px !important;
	}
	#runButton {
		position: absolute;
		left: -212px; 
		top: 260px;
		width: 192px !important;
	}
	#resetButton {
		position: absolute;
		left: -212px; 
		top: 310px;
		width: 192px !important;
	}
	#clearButton {
		position: absolute;
		left: -212px; 
		top: 360px;
		width: 192px !important;
	}
}

.toast {
	white-space: nowrap !important;
	overflow: hidden !important;
}

@media all and (max-width: 600px) {
	#toast-container {
		min-width: 100% !important;
		margin-top: 0px !important;
		position: absolute !important;
		left: 0px !important;
		right: 0px !important;
		bottom: 0px !important;
	}

	.toast {
		min-width: 100% !important;
		border-radius: 0px !important;
	}
}

.nav-wrapper {
	background: #009688;
}

.right li:hover {
	background: #00796B;
}

.button-collapse {
	padding-left: 15px;
}

.modal {
	overflow-x: hidden !important;
}

#screen {
	position: absolute;
	left: 10px;
	right: 10px;
	top: 66px;
	height: 192px;
	background: #000000;
}

#screen table {
	border-spacing: 0px;
	width: 100%;
	min-width: 192px;
	max-width: 400px;
	z-index: -1;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

#screen td {
	width: 6px;
	height: 6px;
	padding: 0px;
}

#editor {
	position: absolute;
	left: 10px;
	right: 10px;
	top: 270px;
	bottom: 100px;
	border-bottom: 0 !important;
}

#compileButton, #runButton, #resetButton, #clearButton {
	background: #00796B;
}

#compileButton {
	width: 48%;
	float: left;
	padding: 0 !important;
	margin: 0px 0px 10px 0px !important;
}

#runButton {
	width: 48%;
	float: right;
	padding: 0 !important;
	margin: 0px 0px 10px 0px !important;
}

#resetButton {
	width: 48%;
	float: left;
	padding: 0 !important;
	margin: 0 !important;
}

#clearButton {
	width: 48%;
	float: right;
	padding: 0 !important;
	margin: 0 !important;
}

#code {
	width: 100%;
	height: 100%;
	border: 0 !important;
	margin: 10px 0px 0px 0px !important;
	padding: 0 !important;
	overflow: auto;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#messages {
	font-family: "Courier New", Courier, monospace;
}

td, th {
	border-radius: 0px !important;
}